@mixin font-size($px) {
  font-size: $px + px;
  font-size: ($px*0.0625) + em;
  font-size: ($px*0.0625) + rem;
}

@mixin vert-top {
  vertical-align: top;
}

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}
}

.row {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.col12 {
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}